#Header{
    width: 100vw;
    height: 10vh;
    background-color: #8A7D99;
    color: black;
   display: flex;
   flex-direction: row;
   border-bottom: 5px double black;
   position: fixed;
   top:0px;
   box-shadow: 0px 0px 2px 1px rgba(3, 3, 3, 0.5);
   z-index: 1;
}
.Header_h1{
    padding: 10px;
    margin: 0px auto;
    color: #F5EEF1;
    font-size: 6vh;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Josefin Sans', sans-serif;
}
.Header_div{
    height: 20px;
    display: flex;
    flex-direction: column;
}
.Header_button{
    position: fixed;
    top:2px;
    right: 2px;
}