#Header{
    width: 100vw;
    height: 40px;
    background-color:rgb(255, 0, 255);
    color: black;
   display: flex;
   flex-direction: column;
   border-bottom: 5px double black;
   position: fixed;
   top:0px
}
.Header_h1{
    margin: 0px auto;
}
.Header_div{
    height: 20px;
    display: flex;
    flex-direction: column;
}
.Header_button{
    border: none;
    padding: 2px;
    align-self: flex-end;
    background-color: rgb(198, 185, 228)
}