#Header{
    background-color: rgb(138, 43, 226);
    color: black;
   display: flex;
   flex-direction: column;
}
.Header_h1{
    margin: 0px auto;
}
.Header_div{
    height: 20px;
    display: flex;
    flex-direction: column;
}
.Header_button{
    border: none;
    padding: 2px;
    align-self: flex-end;
    background-color: rgb(198, 185, 228)
}