.MobileWindow{
    width: 310px;
    height: 85vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.LogIn{
    height: 180px;
    width: 250px;
    background-color: #856678;
    margin: 30px auto 0px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px 1px rgba(3, 3, 3, 0.5);
    color: #f5eef1;
    text-align: center;
}
.LogIn_input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;    
}
.LogIn_input input{
    width: 177px;
}
.LogIn_button{
    margin: 10px auto;
}