.MobileWindow{
    width: 310px;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}
.Exams{
    width: 310px;
    height: 100vh;
    margin: 0px auto;
    display:flex;
    flex-direction: row;
   justify-content: space-between;
}
.Exams_spacingBox{
    width: 120px;
}
.Exams_filter{
    background-color: silver;
    display:flex;
    flex-direction: column;
    padding:20px 5px 5px 5px;
    width: 120px;
    height: 150px;
    position: fixed;
    top: 40px;
    left : 5vw;
}
.Exams_filter_button{
    padding: 2px;
    margin: 5px auto;
}
.Exams_list_ul{
list-style: none;
margin :10px;
}
.Exams_list_li{
       margin :5px;
       padding: 5px;
       background-color: rgb(192, 192, 192);
       border-radius: 5px;
       box-shadow: 0px 0px 2px 1px rgba(3, 3, 3, 0.5);
       height: 74px;
       width: 134px;
}
.Exams_list_li_fill{
    height: 170px;
}
.Exams_data{
    position:fixed;
    bottom:10px;
    left: 5vw;
    right: 5vw;
    width: 88vw;
    height: 150px;
    padding: 1vw;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(3, 3, 3, 0.5);
}